label: Text with image
icon: material:format_align_left
preview: >
  <dl>
    <dt>{{ image }}</dt>
    <dd>{{ body }}</dd>
  </dl>
fields:
  image:
    type: image
    width: 120px
  body:
    type: redactor
    width: calc(100% - 120px)
---
<div{{ editAttributes }}>
  <h4>Member #{{ loop.index }}</h4>

  {% if info is defined %}
    <div class="alert alert-secondary" role="alert">
      Passed info: <strong>{{ info }}</strong>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-6">
      {% if image.hasValue %}
        <figure class="figure">
          {{ image.imageTag({
            class: 'figure-img img-fluid rounded'
          }) }}
        </figure>
      {% endif %}
    </div>
    <div class="col-md-6">
      {{ body }}
    </div>
  </div>
</div>
